@model Data_Entities.ReferenceData.TeamCategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TeamCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TeamCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamCategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamCategoryDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamCategoryDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Added)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Added)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inactivated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inactivated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TeamCategoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
