@model Data_Entities.ReferenceData.EffortSteps

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EffortSteps</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EffortStepName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EffortStepName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EffortStepDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EffortStepDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EffortStepSequence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EffortStepSequence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EffortID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EffortID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EffortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EffortName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Added)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Added)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inactivated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inactivated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
